body, html {
    background-image: url("../images/BlueCrystal.jpg");
    height:100% ;
  margin: 0;
  height: 100%; 
  background-position:  center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 40px;
}

#myHeader{
    text-align: center;
    color: white;
    padding-top: 3px;
}


#button-blue{
    padding: 45px;
    margin-top: 95px;
    height: 150px;
    width: 150px;
    background: url("../images/whitecrystal.jpeg");
    border-radius: 2.25rem;
     border-color: #007bff00; 
    
}

#button-red{
    padding: 45px;
    margin-top: 95px;
    height: 150px;
    width: 150px;
    background: url("../images/myLightBlueCrystal.jpg");
    border-radius: 2.25rem;
     border-color: #007bff00; 
    
}

#button-yellow{
    padding: 45px;
    margin-top: 95px;
    height: 150px;
    width: 150px;
    background: url("../images/lightBluecrystal.jpg");
    background-color: rgba(181, 196, 198, 0);
    border-radius: 2.25rem;
     border-color: #007bff00; 
    
    
}

#button-green{
    padding: 45px;
    margin-top: 95px;
    height: 150px;
    width: 150px;
    background: url("../images/darkBlueCrystal.jpeg");
    border-radius: 2.25rem;
    border-color: #007bff00; 
}

#diamonds{
    margin-left: 19px; 
    margin-top: -63px;
}

#winOrLose{
    margin-left: 163px;
    
}

#winOrLose {
    margin-left: -198px;
    margin-top: -83px;
}

#myParagraph {
    margin-top: -14px;
    color: rgb(12, 131, 243);
}

#nowScore{
    margin-top: 36px;
    color:   rgb(47, 67, 245);
    font-size: 43px;
}


.playNumber{
    font-size: 37px; 
    font-weight: 900;
    text-align: center;
}

#givenNumber{
    margin-top: -15px;
    color: rgb(47, 67, 245);
}

#myCrystalName{
    font-size: 109px;
    margin-top: 52px;
}

#myLittleReset{
    text-align: center;
    cursor: pointer;
}

h3 {
    font-size: 30px;
    text-align: center;
    color: white
}

#myLittleReset{
    border-radius: 5.25rem;
    background: rgba(54, 104, 211, 0);
    color:blue;
}

#myLittleStartNewGame{
    border-radius: 5.25rem; 
    background:rgba(54, 104, 211, 0); 
    color: blue;
}

#winsHeader{
    color: white
}

#lossesHeader{
    color: white
}

