body, html {
    background-image: url("../images/BlueCrystal.jpg");
    height:100% ;
  margin: 0;
  height: 100%; 
  background-position:  center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 40px;
}

#myHeader{
    text-align: center;
    color: white;
    padding-top: 45px;
}

#button-number{
    padding: 45px;
    
}

#button-blue{
    padding: 45px;
    margin-top: 95px;
    height: 150px;
    width: 150px;
}

#button-red{
    padding: 45px;
    margin-top: 95px;
    height: 150px;
    width: 150px;
    background: url("../images/11-112198_crystal-cluster-snowflake-clip-art-diamond-icon-flat-png.png")
    
}

#button-yellow{
    padding: 45px;
    margin-top: 95px;
    height: 150px;
    width: 150px;
    
}

#button-green{
    padding: 45px;
    margin-top: 95px;
    height: 150px;
    width: 150px;
    background: url("../images/9a65e63f636ab0ad3adf834505563166.jpg");
    
}



#button-score{
    padding: 45px;
    margin-top: 95px;
    margin-left: -49px;  
}
#button-win{
    padding: 45px;
    margin-top: 95px;     
}

#button-losses{
    padding: 45px;
    margin-top: 95px;     
  
}



#button-number {
    padding: 45px;
    margin-left: -49px;
    margin-top: -20px;
}

#diamonds{
    margin-left: 19px; 
    margin-top: -40px;
}

#winOrLose{
    margin-left: 163px;
    
}

#winOrLose {
    margin-left: -198px;
}

p {
    margin-top: -25px;
}

